// ===== FONTS =====
body {
    font-family: $primaryFont;
}

.course-title {
    margin-top: 1em;
}

h2, h3 {
    color: $primaryColor;
}

h2 {
    font-size: 2.5em;
    border-bottom: 1px solid #ccc;
}

h3 {
    color: $boldColor;
}

h4 {
    font-size: 1em;
}

// ===== COURSE SELECT =====
.course-link {
    display: block;
    font-size: 1.5em;
    margin-bottom: 1em;
}

// ===== NAV =====
.nav-item.active {
    border-bottom: 2px solid $primaryColor;
}
.navbar-light .navbar-nav .active.active-color>.nav-link {
    color: $primaryColor;
}

// ===== MAIN-CONTENT =====
.main-content {
    margin-top: 2em;
}

// ===== PROFILE =====
img#professor {
    width: 100%;
}