/* ===== PALETTE ===== */
//https://colorhunt.co/palette/ffbb5cff9b50e25e3ec63d2f
$primaryColor: #FD841F;
$boldColor: #E14D2A;
$gray: rgba(0, 0, 0, 0.15);

.container a {
    color: var(--mdb-link-color);
}

code.highlighter-rouge {
    color: $boldColor;
    background-color: #e8e8ed;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

/* ===== END PALETTE ===== */