<!--Make variable that combines term and course-->
{% assign term_course = {{page.term}}  | append: '/' | append: {{page.course}} %}
{% assign path = {{site.baseurl}} | append: '/' | append: {{term_course}} %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <!--
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img
                        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                        height="15"
                        alt="MDB Logo"
                        loading="lazy"
                />
            </a> -->



            <!-- ===== LINKS ===== -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!--HOME, INSTRUCTOR, SYLLABUS-->
                <li class="nav-item" id="nav-home"><a class="nav-link" href="{{path}}/index.html">home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item" id="nav-instructor"><a class="nav-link" href="{{path}}/instructor.html">instructor</a></li>
                <li class="nav-item" id="nav-syllabus"><a class="nav-link" href="{{path}}/{{page.course}}-syllabus.pdf">syllabus</a></li>
                <!--END HOME, INSTRUCTOR, SYLLABUS-->

                {% if page.course == 'iaa' %}
                <!-- INSPIRATION-->
                <li class="nav-item dropdown" id="nav-inspiration"><a class="nav-link" href="{{path}}/inspiration.html">inspiration</a></li>
                <!--END INSPIRATION-->
                {% endif %}

            </ul>
            <!-- ===== END LINKS ===== -->

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->