<!--Make variable that combines term and course-->
{% assign term_course = {{page.term}}  | append: '/' | append: {{page.course}} %}
{% assign path = {{site.baseurl}} | append: '/' | append: {{term_course}} %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- BRAND -->
            <a class="navbar-brand mb-0 h1" href="{{path}}/../..">{{page.course}}</a>
            <!-- END BRAND -->

            <!-- ===== LINKS ===== -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!--HOME, INSTRUCTOR, SYLLABUS-->
                <li class="nav-item" id="nav-home"><a class="nav-link" href="{{path}}/index.html">home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item" id="nav-instructor"><a class="nav-link" href="{{path}}/instructor.html">instructor</a></li>
                <li class="nav-item" id="nav-syllabus"><a class="nav-link" href="{{path}}/{{page.course}}-syllabus.pdf">syllabus</a></li>
                <!--END HOME, INSTRUCTOR, SYLLABUS-->

                <!-- INSPIRATION-->
                <li class="nav-item dropdown" id="nav-inspiration"><a class="nav-link" href="{{path}}/inspiration.html">inspiration</a></li>
                <!--END INSPIRATION-->

                <!-- ASSIGNMENTS -->
                <!-- Dropdown -->
                <li class="nav-item dropdown" id="nav-assignments">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        assignments
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        {% include navs/{{page.course}}-assignments.html %}

                    </ul>
                </li>
                <!-- END ASSIGNMENTS -->

            </ul>
            <!-- ===== END LINKS ===== -->

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->