<!-- Dropdown -->
<li class="nav-item dropdown" id="nav-assignments">
    <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
    >
        Assignments
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
            <a class="dropdown-item" href="{{path}}/assignments/hw1.html">Homework One</a>
        </li>
    </ul>
</li>